body {
  font-family: sans-serif;
  padding-left: 10%;
  padding-right: 10%;
}
.Page {
  background-color: gray;
  border: 3px solid black;
}
a {
  text-decoration: none;
  color: black;
}
header {
  border: 5px solid black;
  height: 700px;
  background-image: url("images/Landscape.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.Logo {
  display: flex;
  position: absolute;
  font-size: xx-large;
  align-items: center;
  justify-content: center;
}
.Logo:hover {
  border: 1px solid grey;
}
.navLink {
  position: absolute;
  left: 60%;
  top: 5%;
}
.navLink a {
  padding: 15px;

  background-color: dimgrey;
  border-radius: 10px;
}
.navLink a:hover {
  background-color: gray;
}
.News {
  padding-left: 10%;
  padding-right: 10%;
}

.News1 p {
  position: absolute;
  text-align: ;
  line-height: 70px;
  font-size: larger;
}
.News2 {
  text-align: right;
}
.News2 p {
  position: absolute;
  text-align: start;
  line-height: 70px;
  font-size: larger;
}
.News3 {
  text-align: right;
}
.News3 p {
  position: absolute;
  text-align: start;
  line-height: 70px;
  font-size: larger;
}
h3 {
  background-color: cornflowerblue;
}

section {
  background-color: aliceblue;
  border: 2px solid black;
}
article {
  border-top: 2px solid black;
}
.minis {
  display: inline-block;
  text-align: center;
}
.minis:hover {
  border: 1px solid darkgray;
}
